$is-ie: true;
$ie-version: 9;

@import "cc";

.resultsPage #content {
  width: 960px;
}

#footer .footer-wrapper {
  width: auto;
  margin: 0 auto;
  padding: 60px 1em 0 1em;
}

.schemeName, .entitlement, .howToApply {
  float: left;
  width: (100% / 3);
}

.schemeName, .entitlement {
  border-right: 0.15em solid #fff;
}

.block-label input {
  top: 39%;
}

.multi-line-checkbox {
  top: 20px !important;
}

#tfcHowToApplyLink {
  padding-bottom: 0.35em;
}
