$is-ie: true;
$ie-version: 7;

@import "cc";

label.block-label {
	width:50% !important;
} /*Fixes IE7 bug where labels are being displayed with a very narrow width*/

.inline label.block-label {
	width:auto !important;
} /*Overrides the above fix, not needed on inline form elements*/

fieldset legend {
	margin-left: -8px !important;
}

.button {
	margin-top: 20px;
}