@(hideBackButton: Option[Boolean] = None, href: Call, title: String, backHref: Option[Call]= None, label: String, backLabel: Option[String] = None)(implicit lang: play.api.i18n.Lang)
@import play.api.i18n._
@import views.html.helper._

<div>
    <div class="form-field">
        <a role="button" id="next-button"
           class="font-small button"
           href="@href"
           title="@title">
            @label
        </a>
    </div>
    <div class="form-field">
      @hideBackButton match {
        case Some(true) => {}
        case _ => { <p class="text"><a id="back-button" role="button" href="@if(backHref.isDefined) {@backHref} else {controllers.routes.CCController.onPageLoad}">@if(backLabel.isDefined) { @backLabel.get } else {@Messages("childcare.button.back")}</a></p> }
      }
    </div>
</div>